:root {
    --container-color: #fefefe;
}

main {
    flex-grow: 1;
    background: rgb(160, 219, 245);
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    flex-wrap: wrap;
}

.listItem {
    flex-basis: 25%;
}

.productCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    background-color: var(--container-color);
    color: #2b2a33;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1.5em;


}

.image-container img {
    object-fit: contain;
    height: 15em;
    width: 20em;
}

.button {
    background-color: #f4d688;
    border: #f4d688 1px solid;
    border-radius: 0.5em;
}

button:hover {
    cursor: pointer;
}